<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="author" content="Maciej Mleczko">
  <meta name="description" content="RPI Zero W Webserver">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

  <body>
    <div class="banner">
      <h1>
        Ledomatrix command center
      </h1>
    </div>
    <div class="chart">
      <canvas id="myChart"></canvas>
      <table>
        <tr>
          <td>Start:</td>
          <td><input type="date" id="dateStart"></td>
          <td><input type="time" id="timeStart"></td>
          <td rowspan="2"><input type="button" value="Update Chart" id="updateChart"></td>
        </tr>
        <tr>
          <td>End:</td>
          <td><input type="date" id="dateEnd"></td>
          <td><input type="time" id="timeEnd"></td>
        </tr>
      </table>
    </div>
    <div>
      <p>Set a pattern (0-255)</p>
      <input id="cellNum" type="number" min=0 max=255>
      <input id="sendCell" type="Button" value="Set">
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>