body{
    width:100%;
    display:block;
}
.banner{
    width:100%;
    align-content: center;
    text-align: center;
    height: 5%;
}
.chart{
    margin:auto;
    width:70%;
    align-self: center;
}

.dateSelectorBox{
    margin:auto;
    display:flex;
    align-self: center;
    padding: 10px;
}
.dateSelector{
    flex:1;
    margin:auto;
    width: min-content;
}
